nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h1 {
    text-align: center;
    color: yellow;  
}

body {
    background-image: url(./Images/brickwall.avif);
}

#AvailableSpace {
    margin: 2%;
}


#DropDownDiv {
    display: none;
  }
  

/* Style the dropdown button */
.NavigationButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  #ProfessionalBackgroundLinks {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  #ProfessionalBackgroundLinks a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change the background color of the dropdown links on hover */
  #ProfessionalBackgroundLinks a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  #DropDownProfessionalBackground:hover #ProfessionalBackgroundLinks {
    display: block;
  }
  